<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
 <link rel="SHORTCUT ICON" href="/static/img/favicon.co">
 <link rel="stylesheet" type="text/css" href="/static/css/bootstrapold.css" media="screen" />
 <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen" />
	</head>
	<body>
	<div id="top">
<div id="header">
 <div class="container">
    <div class="row" id="titleBar">
    <div class="span4 offset1">
    <a href="/blog/"><h1 class="league">Heather Carmitchel</h1></a>
    </div>
	<div class="span7" id="title">
	<a href="https://twitter.com/hcarmitchel" class="links" target="_blank" rel="tooltip" title="Twitter"><img class="ico" height="24px" width="24px" src="/static/img/twitter.png" alt="Twitter"></img></a>
	<a href="http://www.facebook.com/hcarmitchel" target="_blank" class="links" rel="tooltip" title="Facebook"><img class="ico" height="24px" width="24px"  src="/static/img/facebook.png" alt="Facebook"></img></a>
	<a href="http://www.linkedin.com/pub/heather-carmitchel/45/107/515 " target="_blank" class="links" rel="tooltip" title="Linkedin"><img class="ico" height="24px" width="24px"  src="/static/img/linkedin.png" alt="LinkedIn"></img></a>
	<a href="https://github.com/hCarmitchel" class="links" target="_blank" rel="tooltip" title="Github"><img class="ico" height="24px" width="24px"  src="/static/img/github.png" alt="Github"></img></a>
	</div>
    </div>
	</div>
</div> 
<div id="border">
<div id="border-top">
</div>
<div id="border-mid">
</div>
</div>
  <div id="navigation">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <ul class="nav">
                  <li id="about" class="navLink" ><a href="/blog">About</a></li>
             <!--     <li><a href="/blog/posts.html">Blog</a></li> !-->
                  <li class="dropdown navLink" id="portfolio">
                    <a class="dropdown-toggle navLink" data-toggle="dropdown" href=
                    "#portfolio" id="p">Portfolio</a>
                    <ul class="dropdown-menu">
					<li><a href="/blog/work-projects.html">Work Projects</a></li>
					<li><a href="/blog/course-projects.html" class="navLink">Course Projects</a></li>
                    </ul>
                  </li>
				  <li id="resume" class="navLink"><a href="/blog/resume.html">R&eacute;sum&eacute;</a></li>
                  <li id="contact" class="navLink"><a href="/blog/contact.html">Contact</a></li>                  
				  <li id="credit" class="navLink"><a href="/blog/credit.html">Credit</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
	{% load comments %}
	{% block content %}
	{% endblock %}
</div>

<div id="footer">
 <div class="container" id="pageFooter">
    <div class="row">
    <div class="span12">
	</div>
	</div>
	</div>
	 <div class="container" id="footerContent">
    <div class="row">
    <div class="span12">
	<div class="span4" id="leftWing">
	<div class="row">
	<h3>R&eacute;sum&eacute;</h3>
	<hr class="embossed"/>
	<ul id="downloads" style="display:inline; float:left;">
	<li><button class="btn btn-mini btn-primary" style="margin-bottom: 5px;" ><i class="icon-download-alt icon-white"></i>&nbsp.pdf</button></li>
	<li><button class="btn btn-mini btn-primary" style="margin-bottom: 5px;" ><i class="icon-download-alt icon-white"></i>&nbsp.odt</button></li>
	<li><button class="btn btn-mini btn-primary" style="margin-bottom: 5px;" ><i class="icon-download-alt icon-white"></i>&nbsp.docx</button></li>
	<li><button class="btn btn-mini btn-primary" style="margin-bottom: 5px;" ><i class="icon-download-alt icon-white"></i>&nbsp.zip</button></li>
	</ul>
	</div>
	</div>
	<div class="span3" id="centerWing">	
	<div class="row">	<h3>Links</h3>	
	<hr class="embossed"/>
	<ul>
	<li><a href="http://www.xkcd.com" target="_blank">xkcd</a></li>
	<li><a href="http://www.theoatmeal.com" target="_blank">The Oatmeal</a></li>
	<li><a href="http://www.lifehacker.com" target="_blank">Lifehacker</a></li>
	<li><a href="http://www.gizmodo.com" target="_blank">Gizmodo</a></li>
	</ul>
	</div>
	</div>
	<div class="span4" id="rightWing">	
	<!--<div class="row">	<h3>Recent Posts</h3>	<hr class="embossed"/>
		<li>{% for post in object_list %}</li>
		<li><a href="/blog/{{post.id}}">{{ post.title }}</a></li>
		<li style="list-style: none">{% endfor %}</li>
	</ul>!-->
	<div class="row">	<h3>About Me</h3>	<hr class="embossed"/>
	<ul style="list-style: none; overflow:hidden; max-height:125px; margin-bottom:10px;">
	I'm Heather Carmitchel, a student at <a href="http://www.k-state.edu/">Kansas State University</a>
	, majoring in <a href="http://www.cis.ksu.edu/programs/undergrad/cs">Computer Science</a>. 
	To talk about job opportunities or get back in touch, you can use the 
	<a href="/blog/contact.html">contact form</a> or
	you can email me directly at <a href= "mailto:hcarmitchel1@gmail.com" >hcarmitchel1@gmail.com</a>.
	</ul>
	</div>
	</div>
	</div>
	</div>
	<div class="row">
	<div class="span12">
	<p  id="back-top"><a href="#top" rel="tooltip" ><span></span></a></p></div>
	</div>
	</div>
	</div>
</div>
		<div id="feedback" style="">
	<a data-toggle="modal" href="#feedbackModal">Feedback</a>
	</div>
	{% include "feedback.html" %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.js" type="text/javascript"></script>
    {% block head %}
    {% endblock %}
    <script type="text/javascript">
    //<![CDATA[
	  $(document).ready(function(){
			$('#title').tooltip({selector: "a", placement: "bottom"});
			$('#back-top').tooltip({selector: "a", placement: "top"});
			$('#myTab li:eq(0) a').tab();
			$('#myTab li:eq(1) a').tab();
			$('#myTab li:eq(2) a').tab();
			$('#myTab li:eq(3) a').tab();
			$("#back-top").hide();
			$(window).scroll(function () {
					if ($(this).scrollTop() > 275) {
							$('#back-top').fadeIn();
					} else {
							$('#back-top').fadeOut();
					}
			});
			$('#back-top a').click(function () {
					$('body,html').animate({
							scrollTop: 0
					}, 0);
					return false;
			});
			$('.navLink').click(function() {
				if (document.getElementById('portfolio') != this && document.getElementById('p') != this){
					var arr = new Array("#about, #portfolio, #resume, #contact, #credit");
					for (a in arr) {
						$(arr[a]).removeClass('active');
					}
				}
				$(this).addClass('active');
			});
			if(document.title=="HCarmitchel.com: About") { 
				$('#about').addClass('active'); 
			}
			else if(document.title=="HCarmitchel.com: Course Projects" || document.title=="HCarmitchel.com: Work Projects") {
				$('#portfolio').addClass('active');
			}
			else if(document.title=="HCarmitchel.com: Resume") { 
				$('#resume').addClass('active'); 
			}
			else if(document.title=="HCarmitchel.com: Contact") { 
				$('#contact').addClass('active'); 
			}
			else { 
				$('#credit').addClass('active'); 
			}
			{% block docreadyjs %}{% endblock %}
		}); 
		{% block js %}{% endblock %}
	//]]>  
	</script>
  </body>
</html>