  {% extends "base.html" %}
    {% block head %}
    <title>HCarmitchel.com: About</title>
    {% endblock %}
	{% block docreadyjs %}
		$(function () {
				var d=new Date();
				var weekday=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
				if (document.getElementById("dayOfWeek") != null && d != null) {
					document.getElementById("dayOfWeek").innerHTML = "Happy "+weekday[d.getDay()]+"!";
				}
		});
	{% endblock %}
	{% block js %}
		function slideUp(x)	{
			document.getElementById(x).style.marginTop = '0px';
			document.getElementById(x).style.paddingTop = '70px';
			document.getElementById(x).style.height = '160px';
		};
		function slideDown(x)	{
			document.getElementById(x).style.marginTop = '180px';
			document.getElementById(x).style.paddingTop = '5px';
		};
	{% endblock %}

<body>
 {% load comments %} {% block content %}

  <div id="content">
    <div class="container" id="page">
	<div class="row">
		<div class="span12">
			  <div class="paragraph">
			  <div><h1 id="dayOfWeek">Welcome!</h1></div>
			  <hr class="high"/>
			  <p>My name's Heather, I'm a <a href="http://www.cis.ksu.edu/programs/undergrad/cs">Computer Science</a> 
			  student at KSU (<a href="http://www.k-state.edu/">Kansas State University</a>). 
			  If you're here, you probably know me in some capacity and I've
			  begged you to take a look. I doubt there will be much content up here for a
			  while.</p>
			  <p>I expect to update this site with more projects and products as I move
			  forward in my education and career.</p>
			  </div>
		  </div>
    </div>
	<div class="row">
	<div class="span9" style="width: 730px; margin-left:70px">
	<br/>
				  <div style="text-align:center"><h1 style="z-index:1">Highlights</h1>
				  </div>
				  <hr class="high"/>			
				  <div onmouseover="slideUp('d1','block1')" onmouseout="slideDown('d1','block1')">

		<div class="span3 bar2" id="block1">		
				 <div class="details" id="d1">
					<h1 style="line-height:25px;">Creative Design</h1>
					<br/>
					<hr class="embossed" style="margin-top: 5px; margin-bottom: 0px; margin-left:15px;"/>
					<h6>From web design to console applications</h6>
				</div> 			

		</div>			</div>

						  <div onmouseover="slideUp('d2')" onmouseout="slideDown('d2')">

		<div class="span3 bar2" id="block2">		
				 <div class="details" id="d2">
					<h1 style="line-height:25px;">Experience</h1>
					<br/>
					<hr class="embossed" style="margin-top: 5px; margin-bottom: 0px; margin-left:15px;"/>
					<h6>In and out of the classroom.</h6>
				</div> 			

		</div>			</div>
							  <div onmouseover="slideUp('d3')" onmouseout="slideDown('d3')">

		<div class="span3 bar2" id="block3">		
				 <div class="details" id="d3">
					<h1 style="line-height:25px;">Clean Code</h1>
					<br/>
					<hr class="embossed" style="margin-top: 5px; margin-bottom: 0px; margin-left:15px;"/>
					<h6>From web design to console applications.</h6>
				</div> 			

		</div>			</div>
	</div></div><br/>
    </div>{% endblock %}
  </div>
</body>
</html>