  {% extends "base.html" %} 
  {% block head %}
  <title>HCarmitchel.com: Course Projects</title>
  <link rel="stylesheet" href="/static/css/projects-style.css" type="text/css" media="screen" />
  {% endblock %}
<body>
{% load comments %} {% block content %}
  <div id="content">
    <div class="container" id="page">
      <div class="row">
        <div class="span12">
          <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a href="#cis526" data-toggle="tab">CIS 526</a></li>
              <li><a href="#cis501" data-toggle="tab">CIS 501</a></li>
              <li><a href="#cis505" data-toggle="tab">CIS 505</a></li>
              <li><a href="#cis450" data-toggle="tab">CIS 450</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="cis526">
                <br />
                <h1>Project: Career & Employment
                Website&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class=
                "btn btn-mini btn-primary" style="margin-bottom: 5px;"><i class="icon-download-alt icon-white">&nbsp;</i>&nbsp;Download
                This Project</button> </h1>
                  <hr class="high"/>
                <h6>Description</h6>
                <p>Create a website where job seekers in the computing industy can
                quickly find jobs relevant to their skills.</p>
                <h6>Partners</h6>
                <p>Eddie Hedges &amp; Devin Castor</p>
                <h6>Technologies</h6>
                <p>Visual Studio</p>
                <p>C#, CSS, HTML, JavaScript, jQuery</p>
                <p>Twitter's Bootstrap 2.0</p><br />
                <br />
                <br />
                <div id="myCarousel" class="carousel slide">
                  <div class="carousel-inner">
                    <div class="active item">
                      <img src="/static/img/CES_website_CIS526_1.png" alt=
                      "Advanced Resume Form" />
                      <div class="carousel-caption">
                        <h4>Advanced Resume Form</h4>
                      </div>
                    </div>
                    <div class="item">
                      <img src="/static/img/CES_website_CIS526_2.png" alt="Home Page" />
                      <div class="carousel-caption">
                        <h4>Home Page</h4>
                      </div>
                    </div>
                    <div class="item">
                      <img src="/static/img/CES_website_CIS526_3.png" alt="Login Form" />
                      <div class="carousel-caption">
                        <h4>Login Form</h4>
                      </div>
                    </div>
                    <div class="item">
                      <img src="/static/img/CES_website_CIS526_4.png" alt=
                      "Advanced Job Search" />
                      <div class="carousel-caption">
                        <h4>Advanced Job Search</h4>
                      </div>
                    </div>
                  </div><a class="carousel-control left" href="#myCarousel" data-slide=
                  "prev">&lsaquo;</a> <a class="carousel-control right" href=
                  "#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
              </div>
              <div class="tab-pane" id="cis501">
                <br />
                <h1>Project 1: Blackjack</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                  <hr class="high"/>
                <h6>Description</h6>
                <p>Create a console application to simulate blackjack.</p>
                <h6>Partners</h6>
                <p>None</p>
                <h6>Technologies</h6>
                <p>Visual Studio, StarUML</p>
                <p>C#</p>
                <br />
                <br />
                <h1>Project 2: Vending Machine GUI</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                  <hr class="high"/>
                <h6>Description</h6>
                <p>Design and build a vending machine GUI.</p>
                <h6>Partners</h6>
                <p>None</p>
                <h6>Technologies</h6>
                <p>Visual Studio, StarUML</p>
                <p>C#</p>
                <br />
                <h1>Project 3: DMV GUI</h1>
                  <hr class="high"/>
                <h6>Description</h6>
                <p>Design and build a registration system application that takes in and stores user input about cars and drivers.</p>
                <h6>Partners</h6>
                <p>None</p>
                <h6>Technologies</h6>
                <p>Visual Studio, StarUML</p>
                <p>C#</p>
                <br />
                <br />
              </div>
              <div class="tab-pane" id="cis505">
			    <br />

                <h1>Project: Career & Employment Website</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class=
                "btn btn-mini btn-primary" style="margin-bottom: 5px;"><i class="icon-download-alt icon-white">&nbsp;</i>&nbsp;Download
                This Project</button></h1>
                  <hr class="high"/>
                <h6>Description</h6>
                <p>Create a website where job seekers in the computing industy can
                quickly find jobs relevant to their skills.</p>
                <h6>Partners</h6>
                <p>Eddie Hedges &amp; Devin Castor</p>
                <h6>Technologies</h6>
                <p>Visual Studio</p>
                <p>C#, CSS, HTML, JavaScript, jQuery</p>
                <p>Twitter's Bootstrap 2.0</p><br />
                <br />
              </div>
              <div class="tab-pane" id="cis450">
			    <br />
                <h1>Project: Career and Employment Website</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class=
                "btn btn-mini btn-primary" style="margin-bottom: 5px;"><i class="icon-download-alt icon-white">&nbsp;</i>&nbsp;Download
                This Project</button> </h1>
				<hr class="high"/>
                <h6>Description</h6>
                <p>Create a website where job seekers in the computing industy can
                quickly find jobs relevant to their skills.</p>
                <h6>Partners</h6>
                <p>Eddie Hedges &amp; Devin Castor</p>
                <h6>Technologies</h6>
                <p>Visual Studio</p>
                <p>C#, CSS, HTML, JavaScript, jQuery</p>
                <p>Twitter's Bootstrap 2.0</p><br />
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>{% endblock %}
  </div>
</body>
</html>