<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>HCarmitchel.com: Education</title>
  <script type="text/javascript">
//<![CDATA[  
  $(document).ready(function(){
  		$(function () {

		alert('s');
	});
	});
	    //]]>

  </script>
</head>

<body>
  {% extends "base.html" %} {% load comments %} {% block content %}

  <div id="content">
    <div class="container" id="page">
	<div class="row">
		<div class="span12">
			  <div class="paragraph">
			  <div><h1>Education</h1></div>
			  <hr class="high"/>
			  I'm currently going to <a href="http://www.k-state.edu/">Kansas State University</a>, and majoring in 
			  <a href="http://www.cis.ksu.edu/programs/undergrad/cs">Computer Science</a>.
			  </div>
		  </div>
    </div>
	
    </div>{% endblock %}
  </div>
</body>
</html>