{% extends "base.html" %}
  {% block head %}
  <title>HCarmitchel.com: Resume</title>
  {% endblock %}
  {% block js %}
  function addDateModified() {
	document.getElementById("pageFooter").innerHTML="<div style='text-align:right; font-size:8.5px !important; line-height: 1.5;'>Last Modified: Sept 10, 2012</div>";
  }
  {% endblock %}
{% load comments %} {% block content %}
 <body onload="addDateModified();">
  <div id="content">
    <div class="container" id="page" style="padding:0; width:930px">
<iframe src="https://docs.google.com/file/d/0B8YJ6hUZ6CKXOVJGNS16NnRhM2c/preview" width="926" height="1190"></iframe>		  
{% endblock %}
  </div>
</body>
</html>