<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>HCarmitchel.com</title>
  <style  type="text/css"> 
	  #content, #page {
		min-height: 0 !important;
	}
	#pageFooter {
		padding-bottom: 0 !important;
		padding-top: 0 !important;
		}
</style>
</head>

<body>
  {% extends "base.html" %} {% load comments %} {% block content %}

  <div id="navigation">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <ul class="nav">
                  <li><a href="/blog/">About</a></li>
                  <li class="active"><a href="#">Blog</a></li>
                  <li class="dropdown" id="menu1">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=
                    "#menu1">Portfolio</a>
                    <ul class="dropdown-menu">
					  <li><a href="/blog/work-projects.html">Work Projects</a></li>
					  <li><a href="/blog/course-projects.html">Course Projects</a></li>
                    </ul>
                  </li>
                  
				  <li><a href="/blog/resume.html">R&eacute;sum&eacute;</a></li>
                  <li><a href="/blog/contact.html">Contact</a></li>                  <li><a href="/blog/credit.html">Credit</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="content">
    <div class="container" id="page" style="min-height: 0px">
      <div class="row">
        <div class="span12">
          <h3 class="posth">Posts</h3>
				<hr class="high"/>
				<div class="span3" style="margin-left: 0px; width: 190px;">
		  <ul class="sortButtons">
		  
		  		  <li><h6>Sort Posts:</h6></li>
		  <li><div class="btn-group" data-toggle="buttons-radio">
<button class="btn btn-mini btn-primary active" >Newest First</button>
<button class="btn btn-mini btn-primary">Oldest First</button>
</div></li>
		  </ul>
        </div>
		<div class="span3" style="margin-left: 0px;">
		  <ul class="sortButtons">
		  {% load taggit_extras %}
		  {% get_tagcloud as tags for 'blog' %}
		  		  <li><h6>Find Post By Tag:</h6></li>
				  
		  {% for tag in tags %} <a href="/blog/tag/{{tag}}">{{tag}}({{tag.num_times}})</a>&nbsp{% endfor %}

		  </ul>
        </div>
				<div class="span3" style="margin-left: 0px;">
		  <ul class="sortButtons">
		  		  		  <li><h6><a href="/blog/archives">View Archive</a></h6><li>

		  </ul>
        </div>
		</div>
      </div>
    </div>
	<div id="des">
	{% for post in object_list %}
    <div class="container" id="page" style="min-height: 0px">
      <div class="row">
        <div class="span12">
          <div class="span6" id="postHeader" style="margin-left: 0px;">
            <h3 class="posth"><a href="/blog/{{post.id}}">{{ post.title }}</a></h3>
          </div>
          <div class="span5" style="text-align:right; margin-left: 0px;">
            {{ post.created }}
          </div>
		<hr />
          <div class="post_body">
            {{ post.body|safe|linebreaks }}
          </div>
          <div class="tags">
            <h6>Tags: {% for tag in post.tags.all %} <a href="/blog/tag/{{tag}}">{{tag}}</a>
            {% if not forloop.last %}, {% endif %} {% endfor %} 
			{% get_comment_count for post as comment_count %}</h6>
            <h6>{%if comment_count == 0 %} No {% else %} {{ comment_count }} {% endif %} Comment{%if comment_count == 0 %}s{% endif %}</h6>
          </div>
        </div>
      </div>
    </div>{% endfor %}
	   </div>
	 <div id="asc">
	
	{% for post in p %}
    <div class="container" id="page" style="min-height: 0px">
      <div class="row">
        <div class="span12">
          <div class="span6" id="postHeader" style="margin-left: 0px;">
            <h3 class="posth"><a href="/blog/{{post.id}}">{{ post.title }}</a></h3>
          </div>
          <div class="span5" style="text-align:right; margin-left: 0px;">
            {{ post.created }}
          </div>
		<hr />
          <div class="post_body">
            sadfasdfasdf
          </div>
          <div class="tags">
            <h6>Tags: {% for tag in post.tags.all %} <a href="/blog/tag/{{tag}}">{{tag}}</a>
            {% if not forloop.last %}, {% endif %} {% endfor %} 
			{% get_comment_count for post as comment_count %}</h6>
            <h6>{%if comment_count == 0 %} No {% else %} {{ comment_count }} {% endif %} Comment{%if comment_count != 1 %}s{% endif %}</h6>
          </div>
        </div>
      </div>
    </div>{% endfor %}
	   </div>       
	   {% endblock %}

  </div>
</body>
</html>
